In [2]:
import pandas as pd

#### **Задание 1**
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [3]:
# Скачала отсюда https://grouplens.org/datasets/movielens/10m/

with open('ratings.dat','r') as f:
    df = pd.DataFrame(l.rstrip().split('::') for l in f)

df.columns = ['UserID','MovieID','Rating','Timestamp']    
df.head()

In [13]:
# 1 способ
# Выбираем все фильмы с рейтингом 5 и применяем метод value_counts() к столбцу MovieID

df[df.Rating == '5']['MovieID'].value_counts().head(1)

318    16460
Name: MovieID, dtype: int64

In [17]:
with open('movies.dat','r') as f:
    df_names = pd.DataFrame(l.rstrip().split('::') for l in f)
df_names.columns = ['MovieID','Title','Genres'] 

df_names[df_names.MovieID == '318']
# [df_names.Title for i in df_names.MovieID if i == '318']

    MovieID                             Title Genres
315     318  Shawshank Redemption, The (1994)  Drama

In [63]:
# 2 способ (прповерка)
# используем groupby() и count()

# df1 = df[df.Rating == '5'][['MovieID', 'Rating']]
df1.groupby('MovieID').count().sort_values(by='Rating', ascending=False).head()

         Rating
MovieID
318       16460
296       14973
593       13054
527       12813
260       12519

#### **Задание 2**
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [18]:
# чтение файла в DF

data = pd.read_csv('power.csv', encoding='utf-8')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [9]:
# ищем, как пишется название страны в DF

data[ data['country'].str.contains('lit', case=False) ]['country'].unique()

array(['Lithuania'], dtype=object)

In [85]:
# 1 вариант

data[((data.country == 'Lithuania') | (data.country == 'Latvia') | (data.country == 'Estonia')) & 
     ((data.year <= 2010) & (data.year >= 2005)) & 
     ((data.category == 4) | (data.category == 12) | (data.category == 21)) &
     (data.quantity > 0)].quantity.sum()

240580.0

In [86]:
# 2 вариант с проверкой isin() - получается другой ответ, 
# не могу понять, почему в этому случае попадает отрицательное значение (см.ниже выборку)

country_list = ['Lithuania', 'Latvia', 'Estonia']
category_list = ['4','12','21']
year_list = ['2005','2006','2007','2008','2009','2010']
# range(2005, 2011, 1)

data[data['country'].isin(country_list) & 
     data['year'].isin(year_list) & 
     data['category'].isin(category_list) &
     data['quantity'] > 0].quantity.sum()

240481.0

In [88]:
data[((data.country == 'Lithuania') & 
     (data.year == 2007) & 
     (data.category == 12) &
     (data.quantity > 0))].head()

          country  year  quantity  category
103924  Lithuania  2007      90.0        12
104144  Lithuania  2007       1.0        12
104434  Lithuania  2007       2.0        12
104821  Lithuania  2007      74.0        12
105475  Lithuania  2007       1.0        12

In [90]:
data[data['country'].isin(['Lithuania']) & 
     data['year'].isin(['2007']) & 
     data['category'].isin(['12']) &
     data['quantity'] > 0].head()

          country  year  quantity  category
102986  Lithuania  2007     -25.0        12
103924  Lithuania  2007      90.0        12
104144  Lithuania  2007       1.0        12
104434  Lithuania  2007       2.0        12
104821  Lithuania  2007      74.0        12

#### **Задание 3**
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти): 
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [68]:
#на этом сайте нашла 2 таблицы

pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', attrs = {'class': 'header_user_pricebox'},encoding='utf-8')

[     0       1     2        3      4     5        6      7      8        9   \
 0  ММВБ   3 098  0,9%   Nasdaq  9 468  2,1%  Биткойн  9 198   0,3%  USD/RUB
 1   РТС   1 547  1,7%   S&P500  3 298  1,5%    Нефть    546   1,5%  EUR/RUB
 2   Dow  28 808  1,4%  FTSE100  7 440  1,6%  EUR/USD  11036  -0,1%      NaN

          10    11
 0  630576.0  0,1%
 1  696130.0  0,0%
 2       NaN   NaN  ]

In [67]:
pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', attrs = {'class': 'quote_list'},encoding='utf-8')

[    Unnamed: 0              Рубль  Предложение  Спрос  Предыдущее закрытие  \
 0          NaN            GBP/RUB       817581      -               820798
 1          NaN            EUR/RUB       691954      -               695830
 2          NaN            USD/RUB       628660      -               629905
 3          NaN            JPY/RUB        05729      -                05755
 4          NaN            CNY/RUB        90149      -                90010
 5          NaN            CHF/RUB       646256      -               649813
 6          NaN               Евро  Предложение  Спрос  Предыдущее закрытие
 7          NaN            EUR/USD        11005      -                11044
 8          NaN            EUR/GBP        08462      -                08476
 9          NaN            EUR/JPY      1207600      -              1208800
 10         NaN            EUR/CHF        10708      -                10705
 11         NaN         Доллар США  Предложение  Спрос  Предыдущее закрытие
 12         NaN            USD/EUR        09086      -                09054
 13         NaN            USD/GBP        07689      -                07675
 14         NaN            USD/JPY      1097340      -              1094650
 15         NaN            USD/CHF        09729      -                09693
 16         NaN      Японская иена  Предложение  Спрос  Предыдущее закрытие
 17         NaN    JPY/EUR (100:1)        08300      -                08300
 18         NaN            JPY/GBP        00070      -                00070
 19         NaN            JPY/USD        00091      -                00091
 20         NaN    JPY/CHF (100:1)        08900      -                08900
 21         NaN    Фунт стерлингов  Предложение  Спрос  Предыдущее закрытие
 22         NaN            GBP/USD        13006      -                13031
 23         NaN            GBP/JPY      1426994      -              1426303
 24         NaN            GBP/EUR        11816      -                11799
 25         NaN            GBP/CHF        12653      -                12630
 26         NaN  Швейцарский франк  Предложение  Спрос  Предыдущее закрытие
 27         NaN            GBP/CHF        12653      -                12630
 28         NaN            EUR/CHF        10708      -                10705
 29         NaN    JPY/CHF (100:1)        08900      -                08900
 30         NaN            USD/CHF        09729      -                09693
 31         NaN  Украинская гривна  Предложение  Спрос  Предыдущее закрытие
 32         NaN            EUR/UAH       271535      -               274107
 33         NaN            USD/UAH       246726      -               248184
 34         NaN            CHF/UAH       253625      -               256019
 35         NaN            GBP/UAH       320843      -               323384

           %  Абсолютное значение     Время
 0   -0,39 %               -03217  20:23:00
 1   -0,56 %               -03876  20:23:00
 2   -0,20 %               -01245  20:23:00
 3   -0,44 %               -00025  20:23:00
 4    0,15 %                00139  20:23:00
 5   -0,55 %               -03557  20:23:00
 6         %  Абсолютное значение     Время
 7   -0,35 %               -00039  20:23:00
 8   -0,16 %               -00014  20:23:00
 9   -0,10 %               -01200  20:23:00
 10   0,03 %                00003  20:23:00
 11        %  Абсолютное значение     Время
 12   0,35 %                00032  20:23:00
 13   0,18 %                00014  20:23:00
 14   0,25 %                02690  20:23:00
 15   0,37 %                00036  20:23:00
 16        %  Абсолютное значение     Время
 17   0,10 %                00000  20:23:00
 18  -0,07 %                00000  20:23:00
 19  -0,25 %                00000  20:23:00
 20   0,12 %                00000  20:23:00
 21        %  Абсолютное значение     Время
 22  -0,19 %               -00025  20:23:00
 23   0,05 %                00691  20:23:00
 24   0,14 %                00017  20:23:00
 25   0,18 %                00023  20:23:00
 26        %  Абсолютное значение     Время
 27   0,18 %                00023  20:23:00
 28   0,03 %                00003  20:23:00
 29   0,12 %                00000  20:23:00
 30   0,37 %                00036  20:23:00
 31        %  Абсолютное значение     Время
 32  -0,94 %               -02573  20:23:00
 33  -0,59 %               -01458  20:21:00
 34  -0,93 %               -02394  20:23:00
 35  -0,79 %               -02541  20:23:00  ]